# bun
/node_modules/

# tscircuit
/.tscircuit/
/dist/

# documentations
*.pdf

# # KiCad
# *-backups/
# fp*cache
# *.lck
# \#auto_saved_files#
# _autosave*

# # "Fabrication Toolkit" plugin
# production/
# fabrication-toolkit-options.json
