# uv
.venv/

# atopile build outputs
build/
manufacturing/
*.pdf

# atopile dependencies
.ato/

# KiCad
*-backups/
fp*cache
*.lck
\#auto_saved_files#
_autosave*

# "Fabrication Toolkit" plugin
production/
fabrication-toolkit-options.json
